@font-face {
  font-family: Roboto-Mono;
  src: url(./Roboto_Mono/RobotoMono-Regular.ttf);
}

.App {
  font-family: Roboto-Mono, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient( 135deg, red 50%, pink 50%);
}
