.JokeList {
    display: flex;
    width: 80%;
    height: 80%;
}

.JokeList-sidebar {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 30%;
    text-align: center;
}

.JokeList-title {
    font-size: 4rem;
    margin: 2rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
    letter-spacing: 0.6rem;
}

.JokeList-title span {
    font-weight: 700;
    letter-spacing: 0;
}

.JokeList-jokes {
    height: 90%;
    background-color: rgba(255, 255, 255, 1);
    align-self: center;
    overflow: scroll;
}

.JokeList-spinner {
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.JokeList-spinner img{
    width: 100px;
    height: 100px;
}

.JokeList-getmore {
    font-size: 1.5rem;
    min-width: 50%;
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin-top: 1rem;

}

.JokeList-logo {
    width: 50%;
}

.JokeList-logo:hover {
    animation: jiggle 5s ease-out 0s infinite;
}

@keyframes jiggle {
    10% {
        transform: translate(-10px, 1px) rotateZ(100deg);
    }
    20% {
        transform: translate(1px, 10px);
    }
    30% {
        transform: translate(10px, -10px) rotateZ(-50deg);
    }
    40% {
        transform: translate(-10px, 1px);
    }
    50% {
        transform: translate(-1px, -10px) rotateZ(50deg);
    }
    60% {
        transform: translate(-10px, -1px);
    }
    70% {
        transform: translate(10px, -10px) rotateZ(350deg);
    }
    80% {
        transform: translate(-10px, -1px);
    }
    90% {
        transform: translate(10px, 10px) rotateZ(-100deg);
    }    
    100% {
        transform: translate(0px, 0px);
    }
}
