.Joke {
    display: flex;
    border-bottom: 2px solid #eee;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    padding: 1rem; 
}

.Joke-buttons {
    display: flex;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.Joke-text {
    width: 75%;
    font-size: 1.2rem;
}

.Joke-votes {
    min-width: 50px;
    min-height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    border: 3px solid red;
    font-size: 20px;
    font-weight: 300;
}

.fa-arrow-up, .fa-arrow-down {
    font-size: 1.5em;
    margin: 10px;
    cursor: pointer;

}

.Joke-smiley, .Joke-smiley .em {
    font-size: 50px;
    width: 50px;
    height: 50px;
    margin-left: auto;
    border-radius: 50%;
    vertical-align: top;
}
